/* LAYOUT CSS; macro arrangement of a web page, including any grid systems */


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2vw;
}

.header {
  border-bottom: 1px solid black;
  margin: 0 0 1.5rem 0;
}
/* Branding */

.site-logo img {
  float: left;
  height: 5rem;
  width: auto;
  margin: 0 1em 0 0;
}

.site-name {
  font-size: 2em;
  margin: 0 0 0.5em 0;
  font-weight: bold;
  text-transform: uppercase;
}

.site-slogan {
  font-size: 1em;
  margin: 0;
  font-weight: normal;
}
