/* BASE CSS; elements, basic typography */


/* ==========================================================================
VARIABLES
============================================================================= */

/* Typographic-scale: Augmented fourth (1.414) */

:root {
  --scale-3: 0.354rem; /* 0.5rem /1.414 */
  --scale-2: 0.5rem;   /* 0.7rem /1.414 */
  --scale-1: 0.707rem; /* 1rem /1.414 */
  --scale0: 1rem;      /* body text */
  --scale1: 1.414rem;  /* 1rem x 1.414 */
  --scale2: 1.999rem;  /* 1.414rem x 1.414 */
  --scale3: 2.827rem;  /* 1.999rem x 1.414 */
  --scale4: 3.998rem;  /* 2.827rem x 1.414 */
  --scale5: 5.653rem;  /* 3.653rem x 1.414 */
}

/* ==========================================================================
TYPOGRAPHY
============================================================================= */

/* Default CSS rule – mobile first
*  Typographic-scale: Augmented fourth
*  Space-scale: 2 (xxs), 4 (xs), 8 (s), 16 (m), 32 (l), 64 (xl)
*  Space-concept space-inset, space-inset-squish, space-inset-stretch, space-stack, space-inline
*/

html {
  font-size: 100%;
  line-height: 1.5; /* 16×1.5=24 */
  background: url('../../images/gridbg24.gif') repeat 0 0; /* Background grid – vertical rhythm */
}

p {
  font: serif;
  color: #333333;
  font-size: var(--scale0);
  line-height: 1.5;
}

/* Heading
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  font: sans-serif;
  font-weight: bold;
  color: #373D3F;
}

h1 {
  font-size: var(--scale3); /* 45 px */
  line-height: 1.5em; /* 45×1.5=67.5 */
  margin: 1.5em 0 3em 0;
}

h2 {
  font-size: var(--scale2); /* 32 px */
  line-height: 1.5em; /* 32×1.5=48 */
  margin: 1.5rem 0 1.5rem 0;
}

h3 {
  font-size: var(--scale1); /* 23 px */
  line-height: 1.5em; /* 23×1.5=34.5 */
  margin: 1.5rem 0 0 0;
}

h4 {
  font-size: var(--scale0); /* 16 px */
  line-height: 1.5em;
  margin: 1.5rem 0 0 0;
}

h5 {
  font-size: var(--scale0); /* 16 px */
  line-height: 1.5em;
  margin: 1.5rem 0 0 0;
}

/* Content
   ========================================================================== */

p, ul, ol, pre, table, blockquote, code {
  margin: 0 0 1.5rem 0;
}

ul ul, ol ol, ul ol, ol ul {
  margin: 0;
}

/* Basic elements
   ========================================================================== */

blockquote {
  margin-left: 1rem;
  padding-left: 1rem ;
  border-left: 5px solid red;
}

img {
  width: 100%;
  height: auto;
}

/* Navigation menu lists
   ========================================================================== */

ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul.menu-account,
ul.menu-footer,
ul.menu-main,
ul.menu-tools {
  display: flex;
  border: 1px solid #f00;
  background-color: #ddd;
}

ul.menu-main {
  font-weight: bold;
}

li.menu-main__item {
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

li.menu-main__item a,
li.menu-account__item a,
li.menu-footer__item a,
li.menu-tools__item a {
  display: block;
  line-height: 1em;
  padding: 0.5em;
}

ul.menu-account {
  flex-direction: column;
  font-weight: normal;
}

li.menu-account__item {
  background-color: #999;
}

li.menu-account__item a {
  text-decoration: underline dotted;
}

/* Pager menu list
   ========================================================================== */

.pager {
  display: flex;
  justify-content: center;
  background-color: #aef;
}

ul.pager__items {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pager__items li {
  margin: 0 1px;
}

.pager__items a {
  display: block;
  padding: 1em;
  border: 1px solid #999;
  border-radius: 0;
  text-decoration: none;
}

.pager_items a[aria-current="page"] {
  background-color: #333;
  color: #fff;
}

/* Task menu lists
   ========================================================================== */

hr {
  border: 1px solid;
  margin: 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

pre, code {
  font: monospace;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* SMALL 600 px */
@media (min-width: 37.5em) {}

/* MEDIUM 900 px */
@media (min-width: 56.25em) {}

/* LARGE 1200 px */
@media (min-width: 75em) {}

/* EXTRA LARGE 1800 px */
@media (min-width: 112.5em) {}
